.title
{
    text-align: center;
    color: #c29a9a;
font-family: arial, sans-serif;
font-size: 40px;
font-weight: bold;
margin-top: 0px;
margin-bottom: 1px;
}
.input
{
  text-align: center; 

}
.inputt{  border: 2px solid #ba9393;
    border-radius: 4px;
  }
  .buton{
      
  background-color: #ba9393;
  text-decoration: none;
  font-size: 20px;
  }